div#mdialTamanio {
    width: 80% !important;
}
.contenido_modal .row div.background_perfil {
    width: 97.7%;
}
.foto_portada {
	background-color: #fff;
    height: 100%;
    position: relative;
    width: 100%;

}
.foto_perfil {
    background-color: #fff;
    width: 19%;
    left: 38%;
    right: 50%;
    top: 57%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    z-index: 10000;
    border: black 3px solid;
}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #B9B9B9
}
.foto_perfilp {
    background-color: #fff;
    width: 70%;
    left: 50%;
    right: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    z-index: 10000;
    margin-top: -5%;
    margin-bottom: 5%;    
}
.info_icon {
    font-size: 17px;
    color: #55B3E5;
    width: 100%;
    top: 75%;
    position: absolute;
}
.padres {
    height: 60px;
    text-align: center;
}
.hijo {
	left: 50%;
    top: 50%;
    margin: 5% 0 30%;
    font-size: 25px;
    font-weight: bold;
}
.centrado {
    margin-top: 2%;
}
.profesion {
    color: #55B3E5;
    font-size: 20px;
}
.nombre {
    color: #000;
    font-size: 20px;
}
.datos {
	font-size: 20px;
	font-weight: bold;
}
.tdtitle {
	color: #817A7A;
}
.div_border { border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-color: #ddd;} 
.logo {
	font-weight: bold;
	color: #000;
	font-style: normal;
    font-size: 2em;
}
.logos {
    font-weight: bold;
    color: #000;
    font-style: normal;
    font-size: 2em;
}
.fa_down {
    float: right;
}
.floating-box {
    padding-left: 3%;
    float: left;
    width: 106%;
    margin-left: -10px;
    color: #fff;
    font-weight: bold;
    background-color: #55B3E5;
}
.floating-box2 {
    /*float: left;*/
    width: auto;
    display: inline-block;
    font-size: 17px;
}
.floating-box3 {
    float: left;
    width: 33%;
    display: inline-block;
}
.floating-box4 {
    float: left;
    width: 50%;
    display: inline-block;
}
.alejar {
    margin-left: 2.7%;
}

.texto {
    overflow: auto;
    height: 150px;
}
.background_perfil {
    background-color: #fff;
    opacity: 0.7;
    width: 97.1%;
    height: 13%;
    position: absolute;
    top: 87%;
    z-index: 1000;
}
.btn_grupo {
    line-height: 2;
}
.texto::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.texto::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}
.icono1 {
    right: 3%;
    position: absolute;
    color: #55B3E5;
    font-size: 4em;
}
.icono2 {
    left: 5%;
    position: absolute;
    color: #55B3E5;
    font-size: 4em;
}
.padding {
    padding-bottom: 2%;

    min-width: 50px;
}
.paddingb {
    padding-top: 5%;
    padding-bottom: 7%;
    min-width: 50px;
}
.search {
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 6%;    
}
.texto::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ADADAD;
}
.girar {
    /*background-color: #55B3E5;*/
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.bio {
    width: 80px;
    position: absolute;
    height: 170px;
    top: -10px;
}
.ayudas {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #737373;
}
.bold {
    font-weight: bold;
}
.persona {
    margin-left: 5px;
}
.btn_connect {
    border-radius: 15px;
    background-color: #ededed;
}
.search .btn-default {
    width: auto;
    min-width: 200px;
    border-radius: 20px;
    color: #817A7A;
}
.search .btn-default:focus {
    outline:0px;
}
.btn_connect:focus, .btn_connect:active, .btn_connect:hover, .btn_connect:after  {
    outline:0px;
}
.search .btn-default:hover {
    background-color: #55B3E5;
    color: #fff;
}
.search .btn-default:active {
    background-color: #55B3E5;
    color: #fff;
}
.search .btn-default:focus {
    background-color: #55B3E5;
    color: #fff;
}
.btn_connect > i {
    color: #737373;
    font-weight: normal;
}
.contenido {
    background-color: #EDEDED;
    border-radius: 20px;
}
.inputkey {
    border: 1px solid #DBE1EB;
    font-size: 14px;
    font-family: Arial, Verdana;
    padding-left: 25px;
    padding-top: 5px;
    border-radius: 20px !important;
    padding-bottom: 4px;
    top: 0px;
    left: 14px;
    position: absolute;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #817A7A;
}
.keyword {
    position: absolute;
    z-index: 1000;
    left: 40px;
    top: -13px;
    background-color: #fff;
    color: #817A7A;
}

.padding .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #FFF;
    background-color: #55B3E5;
    border-color: #8c8c8c;
}
.inputkey:focus {
    outline:0px;
}
.interest {
    padding-left: 14%;
    padding-right: 6%;
}
.interest .input-group {
    width: 75%;   
}
.interest .fa {
    margin-left: -100%;
    color: #E3E3E3;
    font-size: 20px;
}
.button_search {
    width: 30%;
    height: 51px;
    font-size: 22px;
    background-color: #55b3e5;
    color: #fff;
}
.interest .input-group-addon {
    background-color: #EDEDED;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding-left: 12%;
}

.interest .input-group .checkedt {
    color: #000;
}
.interest .input-group .checked {
    background-color: #55B3E5;
    color: #FFF;
}

.interest .input_group {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: #FFF;
    color: #E8DDDB;
    font-size: 18px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    user-select:none; 
}
.contenido_modal .fondo_noticias.row {
    width: 83%;
    padding-left: 9%;
}
.contenido_modal .information_divs {
    width: 90%;
    padding-left: 7%;
}
.contenido_modal #principal {
    background: #fff;
    width: 83%;
    padding: 10px;
    margin-left: 7%;
    -webkit-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75); 
}
.contenido_modal .floating-box {
    width: 104.5%;
}

.contenido_modal .bio {
    width: 74px;
    position: absolute;
    height: 160px;
    top: -10px;
}
.contenido_modal .biografia {
    margin-left: 85px;
    padding-left: 19px !important;
    padding-right: 10px;
    -webkit-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
}
.contenido_modal .information_divs .fondo_noticias {
    -webkit-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    padding: 0;
}
.contenido_modal .floating-box {
    margin-left: 1px !important;
}
.contenido_modal #interest {
    margin-left: -4px !important;
    width: 108.1%;

}

@media screen and (max-width: 1024px) {
.floating-box3 {
    float: left;
    width: 50%;
    display: inline-block;
}
.floating-box4 {
    float: left;
    width: 50%;
    display: inline-block;
}
.bio {
    width: 50px;
    position: absolute;
    height: 170px;
    top: -10px;
}
.background_perfil {
    background-color: #fff;
    opacity: 0.7;
    width: 95.5%;
    height: 13%;
    position: absolute;
    top: 87%;
    z-index: 1000;
}
.icono1 {
    right: 3%;
    position: absolute;
    color: #55B3E5;
    font-size: 3em;
}
.icono2 {
    left: 5%;
    position: absolute;
    color: #55B3E5;
    font-size: 3em;
}
.padres {
    height: 80px;
    text-align: center;
}
.logo {
    font-weight: bold;
    color: #000;
    font-style: normal;
    font-size: 1em;
}
.logos {
    font-weight: bold;
    color: #000;
    font-style: normal;
    font-size: 1em;
}
.centrado {
    margin-top: 10%;
}
.nombre {
    color: #000;
    font-size: 15px;
}
.profesion {
    color: #55B3E5;
    font-size: 15px;
}
.btn_connect {
    width: 100%;
    line-height: 3;
}
.foto_perfilp {
    width: 122%;
    margin-left: -4%;
    margin-top: 20%;
}
.search {
    padding-bottom: 20%;
    padding-left: 0%;
    padding-right: 0%;  
}
.search .btn-default {
    width: auto;
    min-width: 120px;
    border-radius: 20px;
}
.padding {
    margin-left: -18px;
}
.inputkey {
    width: 120px;
    height: 30px;
    left: -4px;
}
.margin {
    margin-left: -18px;
}
.keyword {
    left: 22px;
}
.interest .input_group {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: #FFF;
    color: #E8DDDB;
    font-size: 16px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    user-select:none; 
}
.interest .input-group {
    width: 100%;   
}
.interest {
    padding-left: 10%;
    padding-right: 6%;
}
.contenido_modal .row div.background_perfil {
    width: 96.4%;
}
.contenido_modal .information_divs {
    width: 92%;
    padding-left: 7%;
}
.contenido_modal .floating-box4 {
    float: left;
    font-size: 12px;
    width: 50%;
    /* display: inline-block; */
}
.contenido_modal #profesional_information .tdtitle {
    font-size: 14px;
}
.contenido_modal #profesional_information .floating-box2 {
    font-size: 14px;
}
.contenido_modal .biografia {
    margin-left: 60px;
    padding-left: 0px !important;
}
.contenido_modal .bio {
    width: 47px;
    height: 156px;
    top: -5px;
}
.contenido_modal .floating-box {
    width: 106.9%;
}
.contenido_modal #interest {
    width: 113.1%;
}
}
.grid_user{
    background-color: #fff;
    -webkit-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 9px 9px -11px rgba(0, 0, 0, 0.75);
    padding: 0;
    .title_grid{
        color: #fff;
        font-weight: bold;
        background-color: #55B3E5;
    }

}